:root { 
  --black: #000000;
  --chicago: #5d5d5d;
  --cod-gray: #080808;
  --la-palma: #3e8e00;
  --lima: #61b91b;
  --mercury: #e3e3e3;
  --star-dust: #9c9c9c;
  --white: #ffffff;
 
  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-s: 12px;
  --font-size-xl: 18px;
  --font-size-xxl: 24px;
  --font-size-xxxl: 34px;
  --font-size-xxxxl: 100px;
 
  --font-family-ibm_plex_mono: "IBM Plex Mono", Helvetica;
  --font-family-raleway: "Raleway", Helvetica;
}
.ibmplexmono-normal-star-dust-14px {
  color: var(--star-dust);
  font-family: var(--font-family-ibm_plex_mono);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.ibmplexmono-bold-white-14px {
  color: var(--white);
  font-family: var(--font-family-ibm_plex_mono);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.ibmplexmono-normal-chicago-14px {
  color: var(--chicago);
  font-family: var(--font-family-ibm_plex_mono);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.raleway-bold-black-18px {
  color: var(--black);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.raleway-normal-black-100px {
  color: var(--black);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.raleway-extra-bold-cod-gray-24px {
  color: var(--cod-gray);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 800;
}
